.cover-flow {
    display: flex;
    align-items: center;
    height:  360px; /* TODO responsive */
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.cover-flow::-webkit-scrollbar {
    display: none;
}

.cover {
    position: relative;
    transform-style: preserve-3d;
}

.cover.left {
    transform: perspective(800px) rotateY(45deg);
    margin: 0px -60px 0px -30px;  /* TODO responsive */
}

.cover.right {
    transform: perspective(800px) rotateY(-45deg);;
    margin: 0px -30px 0px -60px;  /* TODO responsive */
}

.cover.selected {
    transform: scale(1.2);
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}