body {
    background-color: black;
}

    .container {
        position: relative;
        max-height: 70vh;
        border: 2px solid;
        border-color: white;
        border-radius: 20px;
        overflow: hidden;
    }

        .cover-flow {
            display: flex;
            padding: 5% 50% 0 50%;
            overflow-x: scroll;
            overflow-y: hidden;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .cover-flow::-webkit-scrollbar {
            display: none;
        }

            .covers-container {
                position: relative;
                background-color: black;
            }

                .covers-container.selected {
                    transform: scale(1.2);
                }

                .covers-container.left {
                    transform: perspective(600px) rotateY(45deg);
                    margin-left: -10vh;
                    margin-right: -5vh;
                }

                .covers-container.right {
                    transform: perspective(600px) rotateY(-45deg);
                    margin-left: -5vh;
                    margin-right: -10vh;
                }

                    .cover, .cover-mirror {
                        max-width: 40vh;
                        max-height: 40vh;
                    }

                    .cover-mirror {
                        margin-top: -2%;
                        margin-bottom: -60%;
                        transform: scaleY(-1);
                        opacity: 0.3;
                    }


        .title-container {
            position: absolute;
            bottom: 0;
            left: 50%;
        }

            .title {
                position: relative;
                left: -50%;
                margin: 0;
                text-align: center;
                font-family: Arial, Helvetica, sans-serif;
                color: white;
            }